html, body, .wrap, #container {
    height: 100%;
    width: 100%;
}
body {
    color: #333;
    font-size: 12px;
    font-family: "微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, p {
    font-family: "微软雅黑", arial, helvetica;
    margin: 0;
    padding: 0;
}
img {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #7a7a7a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    /*color: #fff !important;*/
    font-family: "微软雅黑"!important;
    font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    /*color: #fff !important;*/
    font-family: "微软雅黑"!important;
    font-size: 14px;
}              
::-webkit-input-placeholder{
    /*color:#fff;*/
    font-family: "微软雅黑"!important;
    font-size: 14px;
}
:-ms-input-placeholder{
    /*color:#fff;*/
    font-family: "微软雅黑"!important;
    font-size: 14px;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
/*清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
    clear: both;
}
/*兼容IE*/
.clearfix {
    zoom: 1;
}

/*固定头部*/
#header {
    position: fixed;
    height: 75px;
    display: block;
    width: 100%;    /*background: #333;*/
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 0;
    background: rgba(0, 0, 0, 0.3);    /*opacity: 0.5;
    filter: alpha(opacity=50);*/
}
#header {
    top: 0px;
}
.logo {
    width: 180px;
    margin-left: 88px;
}
.logo p {
    width: 150px;
}
.logo img {
    width: 100px;
    height: auto;
    margin-top: 20px;
}
.menu {
    margin-right: 50px;
}
.menu li a {
    background: transparent;
    color: #fff;
    display: inline-block;
    padding: 0px 10px;
    width: 100px;
    height: 75px;
    line-height: 75px;
    font-size: 18px;
}
.menu li.active:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 120px;
    height: 2px;
    background: #3cabff;    /*border-bottom: 2px solid #3cabff*/
}
.menu li{
    position: relative;
}
.wxcode {
    display: none;
    position: absolute;
    left: 0px;
    top: 76px;    /*background: rgba(0,0,0,0.2);*/
}
.wxcode img {
    width: 120px;
    height: auto;
}
.wxcode p {
    margin-top: -27px;
}
.section {
    text-align: center;
    overflow: hidden;
    height: 100%;
}

.section .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}
.section1{
    /*width: 120%;*/
}
.section1 .bg {
    /*width: 110%;*/
    /*left: -10%;*/


    
    transition: all 10s ease;
    transform: scale(1.08);
    background: url(../images/1-1600.png) no-repeat center;
    background-size: cover;
}
.section2 .bg {
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: all 12s ease;
    transform: scale(1.1);
    background: url(../images/2-1600.png) no-repeat center;
}
.section3 .bg {
    opacity: 0.8;
    transition: all 3s ease;
    background: url(../images/3-1600.png) no-repeat center;
}
.section4 .bg {
    transition: all 10s ease;
    transform: scale(1.0);
    background: url(../images/4-1600.png) no-repeat center;
}
.section5 .bg {
    opacity: 0.8;
    transition: all 2s;
    background: url(../images/5-1600.png) no-repeat center;
}
/*.section1,.section3{
    z-index: 99999;
    overflow: hidden;
}*/
.section1 .sectbg11, .section3 .sectbg31, .section5 .sectbg51, .section2 .sectbg21, .section4 .sectbg41 {
    width: 470px;
    height: 140px;
    position: absolute;
    top: 44%;
    right: 12%;
    background-size: cover;
}
.section2 .sectbg21, .section4 .sectbg41 {
    left: 4%;
}
.section1 .sectbg11 {
    transition: all 4s ease;
    transform: scale(0,0);
    background: url(../images/sectbg11.png);    /*background: url(../images/sectbg1102.png);*/
}

.section2 .sectbg21 {
    transition: all 4s ease;
    transform: scale(1.5,1.5);
    opacity: 0;
    top: 30%;
    background: url(../images/sectbg21.png);
}
.section3 .sectbg31 {
   /* transition: all 3s ease;
    right: -12%;*/



    transition: all 4s ease;
    transform: scale(0,0);
    /*transform: translateY();*/
    background: url(../images/sectbg31.png);
}
.section4 .sectbg41 {
    transition: all 4s ease;
    transform: scale(1.5,1.5);
    /*opacity: 0;*/
    background: url(../images/sectbg41.png);
}
.section5 .sectbg51 {
    transition: all 4s ease;
    transform: scale(0,0);
    width: 528px;
    height: 210px;
    top: 38%;
    background: url(../images/sectbg51.png);
}

/*.active .sectbg31{
    right: 12%;
}*/

/*动画效果*/
.active .sectbg11,.active .sectbg31,.active .sectbg51{
    transform: scale(1,1);
    transition-delay: 0.9s;
}
.active .sectbg21,.active .sectbg41{
    transform: scale(1,1);
    transition-delay: 0.9s;
    opacity: 1;
}
.active .bg11{
    /*left: 0%;*/



        transform: scale(1);
    transition-delay:4s;
}
.active .bg21{
    transform: scale(1.0);
    transition-delay:4s;
}
.active .bg31{
    transition-delay:1.1s;
    opacity: 1;
}
.active .bg41{
    transform: scale(1.06);
    transition-delay:3.8s;
}
.active .bg51{
    /*transform: scale(1.1);*/




    transition-delay:4.1s;
    opacity: 1;
}
.section .bg {
    background-size: cover;
}

/*@media screen and (min-width: 1601px) {
.sectbg61 {
    width: 1400px;
}
}*/

/*有max-width时不管用???*/

/*@media screen and (min-width: 1301px) {
.sectbg61 {
    width: 1100px;
}
}
@media screen and (min-width: 1001px) and(max-width: 1300px){
.sectbg61 {
    width: 1000px;
}
}
@media only screen and (max-width: 1000px) {
.sectbg61 {
    width: 990px;
}
}*/

.sectbg61 {
    /*padding-left: 30px;*/
    /*margin-top: -111px;*/
    /*width: 1200px;*/
    margin: 111px auto;
}
.reasons {
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #7a7a7a;
    width: 100%;
}
.reason {
    /*width: 342px;*/
    width: 25%;
    font-size: 14px;
}
.reason ul li a {
    width: 65px;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-right: 5px;
    border-right: 1px solid #7a7a7a;
}
.reason ul li:last-child a {
    border: none;
}
.rs-head img {
    margin-right: 6px;
    vertical-align: -13px;
}
.rs-head h4{
    height: 40px;
    line-height: 64px;
    vertical-align: text-bottom;
    margin-bottom: 10px;
    /*background: url(../images/);*/
}
.rs-head p {
    margin: 5px 0 20px;
}
.faq {
    width: 50%;
    margin-top: 30px;
}
.faq-list {
    width: 50%;
    text-align: left;
}
.faq-list:last-child {
    margin-top: 22px;
}
.faq-list p {
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    font-size: 14px;
}
.qrcode {
    margin-left: 25%;
    margin-top: 30px;
    text-align: left;
}
.qrcode p {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.qrcode-public img {
    margin-top: 10px;
    border: 1px solid #b3b3b3;
    padding: 2px;
}
.pdlft {
    padding-left: 12px;
}
.section6 .bottom {
    /*height: 60px;*/
    background: #365064;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding-top: 20px;
}
.section6 .bottom p {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    /*display: inline-block;*/
}



/*固定底部样式*/
.sectfoot {
    position: absolute;
    bottom: 0;
    height: 65px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    overflow: visible;
}
.ft-content {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    overflow: visible;
}
.advantage {
    width: 180px;
    float: left;    /*margin-left: 10px;*/
    color: #fff;
    text-align: left;
    position: relative;
}
.advantage img {
    position: absolute;
    left: -40px;
    top: 16px;
}
.dt4 {
    width: 18%;
    margin-left: 7%;    /*width: 285px;*/
    /*margin-left: 10px;*/
}
.dt3 {
    width: 280px;
    margin-left: 80px;
}
.advantages .dt2 {
    width: 25%;
    margin-left: 20%;
}
.advantages .dt3:nth-child(2) {
    margin-left: 150px;
}
.advantages .dt3:last-child {
    float: right;
}
.at-infor {
    margin-top: 12px;
}
.godown {
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    display: block;    /*border:1px solid red;*/
    background: url(../images/arrow-down.png) no-repeat center center;
}
.at-infor p {
    height: 20px;
    line-height: 20px;
    margin: 5px 0 0 10px;
    font-size: 18px;
    padding: 0;
}
.at-infor span {
    margin: 0 0 0 10px;
    font-size: 13px;
}
.at-infor:before {
    content: "";
    display: block;
    position: absolute;
    top: 19px;
    height: 30px;
    width: 1px;
    background: #fff;
}
/*登录注册页*/
#layerbox {
    display: none;
}
.wrap-active {
    opacity: 0.8;
}
#layerbox {
    position: absolute;
    top: 50%;
    left: 50%;    
    width: 380px;
    height: auto;
    min-height: 370px;
    margin: -175px 0 0 -190px;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
}
.tab-menu {
    margin: 22px auto;
    height: auto;
    width: 300px;
}
.tab-menu li a {
    width: 150px;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
}
.tab-menu li .active {
    border-bottom: 2px solid #ff9600;
}
.tab-menu li .close-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.tab-form {
    margin: 10px auto;
    width: 280px;
    text-align: center;
}
.regform {
    display: none;
}
.tab-form li {
    width: 280px;
    display: block;    /*height: 30px;
    line-height: 30px;*/
    margin-bottom: 17px;
    position: relative;
}
.tab-form li input {
    width: 280px;
    height: 38px;
    line-height: 38px;
    border: none;
    padding-left: 65px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.tab-form li button {
    background: #ff9600;
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.tab-form li .reg-phone {
    width: 168px;
    padding-left: 20px;
    margin: 0 0 0 -10px;
}
.tab-form li .send-code {
    width: 100px;
    background: #a4a4a4;
    color: #fff;
    height: 38px;
    line-height: 38px;
    font-size: 15px;
    border-radius: 0;
}
.loginform li:first-child {
    margin-top: 65px;
}
.loginform li:last-child {
    margin-top: 76px;
}
.regform ul li:first-child .clearvalue {
    right: 118px;
}
.tab-form li .icon, .tab-form li .clearvalue, .tab-form li .errortip {
    position: absolute;
}
.tab-form li .icon {
    width: 38px;
    height: 38px;
    top: 0px;
    left: 0;
    background-color: #737373;    /*background-image: url(../images/phone.png);*/
    background-repeat: no-repeat;
    background-position: center center;
}
.icon-phone {
    background-image: url(../images/phone.png);
}
.icon-password {
    background-image: url(../images/password01.png);
}
.icon-rtppassword {
    background-image: url(../images/passwordreset01.png);
}
.icon-code {
    background-image: url(../images/code01.png);
}
.icon-qrcode {
    background-image: url(../images/qrcode01.png);
}
.tab-form li .clearvalue {
    top: 2px;
    right: 7px;
    font-size: 22px;
    cursor: pointer;
}
.tab-form li .errortip {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    height: 16px;
    line-height: 16px;
    color: #ff9600;
    text-align: right;
    /*font-size: 10px;*/
    /*transform: scale(0.875);*/
}
.errortip a {
    color: #6ac8eb;
    text-decoration: underline;
}
/*fullpage CSS */
body #fp-nav ul li a span,
body .fp-slidesNav ul li a span {
    border: 1px solid #cccccc;
    background: transparent;
}
@media only screen and (max-width:1200px) {
    .sectbg61 {
        width: 890px;
    }
     .section6 .bottom{
        height: 90px;
        /*padding-top: 50px;*/
    }
    .section6 .bottom p:first-child{
        margin-top: 15px;
    }
}
@media screen and (min-width:1201px) {
    .sectbg61 {
        width: 1250px;
    }
    .section6 .bottom{
        height: 90px;
        /*padding-top: 50px;*/
    }
    .section6 .bottom p:first-child{
        margin-top: 15px;
    }
}
@media screen and (min-width:1440px) {
    .section6 .bottom{
        height: 160px;
        /*padding-top: 50px;*/
    }
    .section6 .bottom p:first-child{
        margin-top: 55px;
    }
}
@media screen and (min-width:1600px) {
    .sectbg61 {
        width: 1400px;
    }
    .section6 .bottom{
        height: 260px;
        /*padding-top: 50px;*/
    }
    .section6 .bottom p:first-child{
        margin-top: 135px;
    }
}