html, body, .wrap, #container {
    /*height: 100%;
    width: 100%;*/
    font-family: "微软雅黑";
}
body {
    color: #333;
    font: 12px/1.5 "微软雅黑", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

h1, h2, h3, h4, p {
    font-family: "微软雅黑", arial, helvetica;
    margin: 0;
    padding: 0;
}
img {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #7a7a7a;
}
/*清除输入框上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{
    -moz-appearance:textfield;
}
input:focus,textarea:focus{
    box-shadow: 0px 0px 2px #f7982a;
    -webkit-box-shadow: 0px 0px 2px #f7982a;
   /* box-shadow:0 0 3px rgba(111,1,32,3); 
    -webkit-box-shadow:0 0 3px rgba(111,1,32,3); */
}
input[type="radio"]:focus,input[type="checkbox"]:focus{
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}

/*清除浏览器自带清楚叉叉*/
::-ms-clear, ::-ms-reveal{
    display: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: "微软雅黑"!important;
    font-size: 14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: "微软雅黑"!important;
    font-size: 14px;
}              
::-webkit-input-placeholder{
    font-family: "微软雅黑"!important;
    font-size: 14px;
}
:-ms-input-placeholder{
    font-family: "微软雅黑"!important;
    font-size: 14px;
}
/*清楚浏览器默认获得焦点时边框*/
*:focus {
    outline: none;
} 
.fr {
    float: right;
}
.fl {
    float: left;
}
.lf{
    text-align: left;
}
.rt{
    text-align: right;
}
/*清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
    clear: both;
}
/*兼容IE*/
.clearfix {
    zoom: 1;
}
.wrapper{
    background: #F7F7F7;
}
/*头部样式*/
.header{
    height: 60px;
    background: #F7982A;
}
.head,.topinfor,.content{
    width: 1180px;
    margin:0 auto;
}
.logo{
    vertical-align: middle;
    text-align: left;
    display: table-cell;
    width: 120px;
    height: 60px;
}
.logo img{
    width: auto;
    height: 45px;
}
.topmenu{
    width: 400px;
    margin-top: -60px;
}
.topmenu li a {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    width: auto;
    padding: 0 6px;
    color: #fff;
    float: right;
    text-align: right;
}
.topinfor{
    height: 70px;
    line-height: 70px;
}
.location a{
    color: #F7982A;
    text-decoration: underline;
}

.content{
    min-height: 680px;
    border-bottom:1px solid #eee;
    padding-bottom: 70px;
}
.maincontent{
    /*border:1px solid #eee;*/
    /*background: #fff!important;*/
    min-height: 680px;
    /*width: 1050px;*/
    margin-left: 130px;
}
.maincontent iframe{
    background: #fff;
}

/*侧边栏样式*/
.sidebar-menu{
    width: 130px;
}
.sidebar-menu h3{
    height: 33px;
    line-height: 33px;
    font-size: 16px;
}
.sub-menu li a{
    padding-left: 25px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.sub-menu li .active{
    color: #f7982a;
}
.sub-menu li a:hover{
    color: #f7982a;
}

.content-panel{
    padding:0 10px;
    background: #fff;
    border:1px solid #eee;
}
.panel-top{
    border-bottom: 1px solid #eee;
}
.panel-top h3{
    margin-top: 10px;
    height: 46px;
    line-height: 46px;
    padding-left: 20px;
    font-size: 18px;
}
.infor{
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.portrait{
    /*width: 200px;*/
    margin:60px 0 0  105px;
    /*border: 1px solid #ddd;*/
}
.portrait img{
    width: 175px;
    height: 175px;
    border-radius: 100%;
    border:2px solid #eee;
}
.inport p{
    text-align: center;
    display: inline-block;
    width: 180px;
    position: relative;
    margin-top: 10px;
}
.inport input,.inport p span{
    /*visibility: hidden;*/
    opacity: 0;
    z-index: 2;

    position: absolute;
    left: 50%;
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-left: -30px;
    top: 0;
    cursor: pointer;
}
.inport p span{
    z-index: 1;
    opacity: 1;
    font-size: 15px;
}
.inport input:hover + span{
    cursor: pointer;
    color:#f7982a;
}
.base-infor {
    margin:60px 0 0 70px;
}
.default-label{
    width: 95px;
    display: inline-block;
    margin-right: 25px;
    font-size: 14px;
}
.infor-menu {
    height: 270px;
    /*overflow: hidden;*/
}
.infor-menu li{
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}
.default-input,.default-select{
    border:1px solid #eee;
    padding:0 0 0 10px;
    height: 32px;
    line-height: 32px;
    width: 204px;
}
.lg-input{
    width: 410px;
}
.infor-menu li .default-input:focus,.infor-menu li textarea:focus{
    border:1px solid #f7982a;
}
.infor-menu li textarea{
    border:1px solid #eee;
    padding:0 0 0 10px;
}
.infor-menu .textareali label{
    line-height: 20px;
    vertical-align: 32px;
}
.infor-menu .textareali textarea{
    line-height: 25px;
}

.hire-infor{
    margin: 20px 0 0;
}
.infor-menu .default-select{
    width: 128px;
    color:#333;
    background: #fff url(../images/arrow.png) no-repeat 105px 12px;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
}
.hire-menu{
    height: auto;
    margin-left: 80px;
}
.hiretype{
    width: auto;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding:0px 20px;
    border-radius: 10px;
    border:1px solid #eee;
    margin-right: 15px;
}
.infor-menu .hirepost{
    padding-left: 70px;
    height: 106px;
}
.hirepost .choosemark{
    border:1px solid #f7982a;
    /*background: url(../images/choosemark.png);*/
}
.btnp{
    margin: 70px 0 30px;
    text-align: center;
}
.btnp button,.btnp .confirm-link{
    display: inline-block;
    width: auto;
    /*padding:0 30px;*/
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 3px;
    border:none;
    background: #f7982a;
    color: #fff;
    font-size: 16px;
}
.btnp .confirm-link{
    display: none;
    padding:0 30px;
    font-size: 20px;
}
.btnp .editbtn{
    width: 140px;
    font-size: 20px;
}
.btnp button:focus{
    border:none;
}
/*底部样式*/
.footer{
    margin-top: 40px;
}
.bt-cont{
    width: 960px;
    margin: 0 auto;
    color:#999999;
}
.bt-logo{
    float: left;
}
.bt-logo img{
    width: 114px;
    height: auto;
}
.bt-menu{
    float: right;
    /*margin-right: 120px;*/
}
.bt-menu ul{
    width:650px;
    font-size: 14px;
}
.bt-menu li{
    width: 325px;
    height: 29px;
    line-height: 29px;
    float: left;
    text-align: left;
}
.bt-menu li span{
    width: auto;
    color:#999999;
}
.bt-cont>p{
    text-align: center;
}
.joinway img{
    height: 20px;
    width: auto;
    vertical-align: -5px;
}
.footer p {
    width: 520px;
    margin: 30px auto;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #999999;
    text-align: left;
}

/*看点充值*/
.recharge{
    overflow: hidden;
}
.recharge-menu{
    /*width: 200px;*/
    display: block;
    margin: 55px 0 0 80px;
}
.recharge-menu li{
    /*width: 230px;*/
    height: 95px;
    line-height: 80px;
}
.charge a{
    display: inline-block;
    height: 64px;
    line-height: 64px;
    width: 120px;
    text-align: center;
    border:2px solid #eee;
    font-size: 16px;
    margin-right: 20px;
    color: #bcbcbc;
    position: relative;
    overflow: hidden;
}
.charge a span{
    font-size: 24px;
}

.charge .choosemark{
    border:2px solid #f7982a;
    color: #f7982a;
}
.charge a .icon-choose{
    display: none;
}
.charge .choosemark .icon-choose{
    display: inline-block;
    position: absolute;
    right: -23px;
    bottom: 20px;
}
/*.discount:after{
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    left: -3px;
    width: 36px;
    height: 36px;
    background: url(../images/spriteicon.png) no-repeat -199px -7px;

}*/

.discount i{
    position: absolute;
    top: -23px;
    left: -33px;
    width: 67px;
    height: 50px;
    line-height: 87px;
    color: #fff;
    font-size: 10px;
    font-style: normal;
    transform: rotate(-45deg);
    z-index: 9999;
    background: #e60012;
}

.recharge-menu li label{
    float: left;
    font-size: 17px;
}
.recharge-menu li>p{
    font-size: 16px;
    color: #bcbcbc;
}
.payway a{
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding-left: 58px;
    margin-right: 20px;
    font-size: 16px;
    color: #bcbcbc;
    background: url(../images/alipay.png) no-repeat left center;
}
.payway .wxpay{
    background: url(../images/wxpay.png) no-repeat left center;
}
.payway input[type="radio"]{
    vertical-align: -2px;
    margin-right: 2px;
}
.btnp .confirm-recharge{
    width: 140px;
    font-size: 20px;
}

/*找人Style*/
.hunttop{
    padding: 30px 0 0 35px;
    /*overflow: hidden;*/
}
.htleft-menu{
    /*width: 270px;*/
    margin-right: 30px;
}
.htleft-menu li{
    /*width: 270px;*/
    height: 36px;
    margin-bottom: 70px;
}
.htleft-menu li:first-child{
    margin-bottom: 45px;
    position: relative;
    width: 470px;
}
.htmid-menu li{
    height: 36px;
    line-height: 36px;
}
.hunttop ul label{
    width: auto;
    font-weight: 500;
    height: 34px;
    line-height: 34px;
    margin-right: 15px;
}
.hiretype-container{
    display: inline-block;
    position: relative;
}
.hiretype-container .icon-arrow{
    border:1px solid #eee;
    background-color: #fff;
    display: inline-block;
    border-radius: 0;
    width: 48px;
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
    text-align: left;
    padding-left: 6px;
    cursor: pointer;
}
.hiretype-content{
    display: inline-block;
    position: absolute;
    top: 40px;
    width: 370px;
    left: 0;
    background: #fff;
    border:1px solid #f7982a;
    padding: 0 10px 10px;
    display: none;
    z-index: 9999;
}
.hiretype-content .hiretype-infor{
    border-bottom: 1px solid #eee;
    height: 30px; 
    line-height:30px;
    display: block;
    margin: 0 0 10px;
}
.hiretype-content .hiretype{
    margin:0 10px 10px 0;
}
.hiretype-content .choosemark{
    border:1px solid #f7982a;
    /*background: url(../images/choosemark.png);*/
}
.hiretype-content p{
    display: block!important;
}
.hiretype-content p button{
    width: auto;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding:0px 20px;
    border-radius: 10px;
    border:none;
    color: #fff;
    background: #f7982a;
}
.choose-result,.input-320{
    width: 320px;
    min-height: 32px;
    line-height: 32px;
    display: inline-block;
    border:1px solid #eee;
}
.choose-result{
    padding-left: 2px;
    position: absolute;
    background: #fff;
    /*display: none;*/
    height: 32px;
    overflow: hidden;
    cursor: pointer;
}
.choose-result:hover{
    height: auto;
    border:1px solid #f7982a;
    box-shadow: 0px 0px 2px #f7982a;
    -webkit-box-shadow: 0px 0px 2px #f7982a;
    cursor: pointer;
}
.hunttop ul select{
    height: 32px;
    line-height: 32px;
    margin-right: 20px;
    width: 54px;
    padding-left: 6px;
    border:1px solid #eee;
    color:#333;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    /*-ms-appearance:none;*/
    -o-appearance:none;
    background: #fff url(../images/arrow.png) no-repeat 35px 12px;
}
.choose-result a{
    display: inline-block;
    width: auto;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border:1px solid #eee;
    margin-right: 2px;
}
.choose-result a span{

}
.input-320{
    padding-left: 10px;
}
.input-320:focus,input[type="text"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="password"]:focus,input[type="email"]:focus,.agep input:focus{
    /*width: 320px;*/
    border:1px solid #f7982a!important;
    outline: none;
}

.htmid-menu li p,.htleft-menu li p{
    margin-right: 20px;
    display: inline-block;
    font-size: 14px;
}
.htmid-menu input[type="radio"],.htmid-menu input[type="checkbox"],.htleft-menu p input[type="radio"]{
    vertical-align: -2px;
    margin-right: 3px;
}
.htmid-menu input[type="number"]{
    height: 23px;
    line-height: 23px;
    text-align: center;
    border:1px solid #eee;
    width: 38px;
    display: inline-block;
}
.hunttop .btnp{
    width: 140px;
    margin: 30px 0 0 25px;
}
.hunttop .btnp button{
    width: 140px;
    font-size: 20px;
}



.hunt-pepole{
    /*width: 100%;*/
    margin: 0 auto;
    overflow: hidden;
}
.single{
    border:1px solid #eee;
    margin: 10px 10px 0 0px; 
    padding: 10px 15px;
}
.single-image{
    width: 120px;
    text-align: center;
}
.single-image>a{
    margin-left: 10px;
    display: inline-block;/*不加IE会出问题*/
}
.single-image img{
    width: 120px;
    height:120px;
    border-radius: 100%; 
    border:1px solid #eee;
    /*margin-bottom: 10px;*/
}
.single-menu{
    margin-left: 20px;
}
.single-menu li:first-child a{
    
}
.single-menu li{
    /*width: 150px;*/
    width: 160px;
    height: 28px;
    line-height: 28px;
}
.single-menu .location_li label{
    float: left;
}
.single-menu .location_li>span{
    display: table-cell;
    width: 120px;
    height: 28px;
    line-height: 12px;
    /*float: left;*/
    vertical-align: middle;
    overflow: hidden;
    word-break: break-all;
}

.single-menu .btnp{
    width: 94px;
    margin:10px 0 0;
}
.single-menu .btnp button{
    width: 100%;
    /*margin:10px 0 0;*/
    height: 26px;
    line-height: 24px;
    border-radius: 15px;
    /*padding-left: 20px;*/
    font-size: 12px;
    background: #bcbcbc;
    cursor: pointer;
}
.single-menu .btnp button:hover{
    background: #f7982a;
}
.single-menu .btnp button span{
    margin-left: -10px;
    margin-right: 23px;
}
/*人才管理*/
.timeli{
    height: 36px;
    line-height: 36px;
    margin-right: 14px;
}
.timeli  .agep{
    display: block;
    padding-left: 71px;
}
/*@-moz-document url-prefix() { 
    .timeli  .agep{
    padding-left: 71px;
}
}*/
.timeli .agep input[type="text"]{
    height: 22px;
    line-height: 22px;
    width: 75px;
    padding-left: 10px;
    border:1px solid #eee;
}
.manage-status p{
    /*text-align: center;*/
    padding-left: 30px;
}
.manage-status p button{
    width: 100px;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    background: #c1c1c1;
    margin-right: 20px;
    border:none;
    cursor: pointer;
}
.manage-status p button:first-child:hover,.manage-status p .color0{
    background: #65A5E6;
}
.manage-status p button:nth-child(2):hover,.manage-status p .color1{
    background: #f7982a;
}
.manage-status p button:nth-child(3):hover,.manage-status p .color2{
    background: #7BD868;
}
.manage-status p button:nth-child(4):hover,.manage-status p .color3{
    background: #EB7155;
}
.viewtime{
    margin-top: 13px;
    height: 17px;
    line-height: 25px;
    padding-left: 10px;
    border-top: 1px solid #eee;
}
.opration-p{
    display: inline-block;
    width: 66px;
}
.opration-p button,.opration span{
    width: 66px;
    height: 24px;
    display: inline-block;
    line-height: 22px;
    margin:10px 0 0;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 12px;
    background: #bcbcbc;
    border:none;
    color:#fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.opration-p button{
    padding: 0;
}
.opration-p button:hover,.opration span:hover{
    background: #f7982a;
}
.opration{
    position: relative;
    display: inline-block;
}
/*账户概览*/
.accountview .opration-p{
    width: 100%;
    text-align: center;
}
.accountview .opration-p button{
    padding:0;
}
.usedetail{
    margin: 8px 0 0;
}
.usedetail h3{
    display: inline-block;
    height: 36px;
    line-height: 36px;
}
.usedetail label{
    width: 60px;
    margin-right: 20px;
}
.usedetail input[type="radio"]{
    vertical-align: -2px;
    margin-right: 2px;
}
.usedetail .timeli p{
    display: inline-block;
    margin-right: 20px;
}
.usedetail .timeli .agep{
    display: inline-block;
    padding-left: 0;
}
.usedetail .timeli .condition-btn{
    width: 70px;
    line-height: 23px;
    height: 24px;
    border-radius: 10px;
    border:none;
}
.accountview-top{
    border-bottom: 1px solid #eee;
}
.viewtop{
    overflow: hidden;
    width: 530px;
    margin:25px auto 67px;
}

.viewtop img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.viewtop .viewinfor{
    display: inline-block;
    margin: 20px 30px 0 20px;
}
.viewtop .btnp{
    margin-top: 20px;
}
.viewtop .btnp a{
    display: inline-block;
}


.opration:hover .opration-menu{
    display: block;
}
.opration-menu{
    display: none;
    width: 66px;
    border:1px solid #eee;
    position: absolute;
    top: 35px;
    left: 0;
    background: #fff;
}
.opration-menu li{
    width: 66px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-top: 1px solid #eee;
    cursor: pointer;
}
.opration-menu li:first-child{
    border:none;
}
.opration-menu li:hover{
    background: #f7982a;
}


/*没有数据页面*/
.sigle-content-none{
    width: 415px;
    margin: 80px auto 165px;
}
.sigle-content-none p{
    display: inline-block;
    vertical-align: 27px;
    color: #cacaca;
}
.sigle-content-none p a{
    color: #f7982a;
    text-decoration: underline;
}

/*分页样式*/
.pages{
    margin: 30px auto;
}
.pages ul{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-right: 2px;
    list-style: none;
    width: 460px;
    margin: 0 auto 0;
}
.pages ul li{
    *width:18px;
    float: left;
}
.pages ul li a{
    display: block;
    border: none;
    float: left;
    background: none;
    width: 40px;
    height: 27px;
    line-height: 27px;
    color: #bcbcbc;
    font-size: 14px;
    text-align: center;
}
.pages ul li a:hover{
    color: #f7982a;
}
.pages ul .pagesli3{
    width: 22px;
}
.pages ul .pagesli3 a{
    width: 22px;
    /*margin-right:-10px;*/
}
.pages ul .pageactive a{
    color: #f7982a;
}
.pages ul .pagesli1 a{
    width: 18px;
    background: url(../images/spriteicon.png) no-repeat;
    background-position: -10px -118px;
}
.pages ul .pagesli2 a{
    width: 16px;
    background: url(../images/spriteicon.png) no-repeat;
    background-position: -26px -118px;
}
.pages ul .pagesli4 a{
    width: 16px;
    background: url(../images/spriteicon.png) no-repeat;
    background-position: -58px -118px;
}
.pages ul .pagesli5 a{
    width: 16px;
    background: url(../images/spriteicon.png) no-repeat;
    background-position:-73px -118px;
}
.pages ul .pagesli6{
    width:130px;
    display: block;
    border: none;
    float: left;
    background: none;
    height: 27px;
    line-height: 8px;
    /**line-height: 17px;*/
    color: #e1e1e1;
    font-size: 14px;
    text-align: center;
}
.pages ul li label{
    font-weight: normal;
    display: inline-block;
    margin-right: 10px;
    vertical-align: 4px;
    height: 25px;
    line-height: 25px;
}
 .pages ul li input{
    width:50px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    padding-left: 4px;
    font-size: 10px;
    margin-right: 10px;
    text-align:center;
    vertical-align: top;
}
.pages ul li button{
    width:25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    line-height: 23px\0;
    *line-height: 17px;
    text-align: center;
    border-radius: 100%;
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    vertical-align: 6px\0;
    background: url(../images/spriteicon.png) no-repeat;
    background-position: -60px -187px;
}
.pages ul li input:focus{
    border: 1px solid #7a7a7a;
    outline: none;
} 

/*安全设置页面*/
.tab-menu {
    margin: 22px auto;
    height: auto;
    width: 300px;
    overflow: hidden;
}
.tab-menu li a {
    width: 150px;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding-bottom: 5px;
    text-align: center;
    color: #000;
}
.tab-menu li .active {
    border-bottom: 2px solid #ff9600;
}
.tab-form {
    margin: 10px auto;
    width: 380px;
    text-align: center;
}
.regform {
    display: none;
}
.tab-form li {
    width: 350px;
    display: block;  
    margin-bottom: 17px;
    position: relative;
    height: 36px;
    line-height: 36px;
}
.tab-form li input {
    width: 200px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #eee;
    padding-left: 10px;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.tab-form li .newphone{
    width: 120px;
    display: inline-block;
}

.tab-form li input:focus{
    height: 33px;
    line-height: 33px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .tab-form li input:focus{
        line-height: 20px;
    }
}
.tab-form li button {
    background: #ff9600;
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.tab-form li:last-child{
    margin: 80px 0;
}
.tab-form li .reg-phone {
    width: 168px;
    padding-left: 20px;
    margin: 0 0 0 -10px;
}
.tab-form li .send-code {
    width: 100px;
    background: #ff9600;
    color: #fff;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    border-radius: 0;
}
.tab-form li label{
    height: 36px;
    line-height: 36px;
    margin-right: 20px;
    width: 110px;
}
.clearvalue{
    display: none;
}
.tab-form li .clearvalue {
    position: absolute;
    top: -1px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}
.tab-form li .errortip {
    position: absolute;
    top: 8px;
    right:-103px;
    display: inline-block;
    float: left;
    height: 16px;
    line-height: 16px;
    color: #ff9600;
    text-align: left;
    width: 120px;
    display: none;
}
.errortip a {
    color: #6ac8eb;
    text-decoration: underline;
}
/*详情页*/
#layerbox{
    background: #fff;
    /*box-shadow: -0px -0px 5px #000;*/
}
.box-container{
    /*width: 1000px;*/
    width: 750px;
    margin: 0 auto;
}
.box-top{
    /*margin-top: 30px;*/
}
.box-top img{
    width: 190px;
    height: 190px;
    border-radius: 100%;
    margin: 30px 30px 0;
}
.inforlist{
    margin-top: 20px;
}
.inforlist li{
    height: 30px;
    line-height: 30px;
}
.inforlist li:first-child{
    padding-left: 31px;
}
.inforlist li:last-child{
    margin-top: 15px;
}
.inforlist li button,.details .tab-menu a,.box-bottom a,.box-bottom button{
    color: #fff;
    background: #bcbcbc;
    border:none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    margin-right: 15px;
    display: inline-block;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
}
.inforlist .btngroup button.active,.inforlist .btngroup button:hover{
    background: #F7982A;
}
.details .tab-menu{
    width: 360px;
    margin: 20px 30px;
}
.details .tab-menu a{
    /*line-height: 32px;*/
}
.details .tab-menu a:hover{
    background: #f7982a;
}
.details .tab-menu .active{
    background: #f7982a;    
}
.tab-panel{
    height: 200px;
}
.video-show,.word-show{
    display: none;
}
/*视频区域样式*/
.video-show{
    /*height: 140px;*/
    width: 360px;
    position: relative;
}
.vedio-container{
    text-align: center;
}
.video{
    margin: 10px 30px;
    width: 330px;
    height: auto;
}
#video_controller{
    display: none;
    width: 300px;
    height: 30px;
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    bottom: 10px;
    left: 30px;
    /*margin:-30px -165px;*/
    background: rgba(0,0,0,0.3);
    padding:6px 0 0 30px;
}
#video_controller input[type="range"]{
    vertical-align: -4px;
}
#video_controller label{
    color: #fff;
}
.vedio-container:hover #video_controller{
    display: block;
}
.box-bottom{
    width: 320px;
    margin: 10px auto;  
}
.box-bottom a,.box-bottom button{
    background: #f7982a;
    width: 80px;
    border-radius: 0;
}
/*弹框轮播图*/
.gallery li img{
    width: 120px;
    height: 100px;
    float: left;
    margin-left: 20px;
    border:1px solid #eee;
    padding: 10px;
    opacity: 0.6;
} 
.gallery li img:hover{
    transform: scale(1.2);
    opacity: 1;
}
/*图标*/
.icon{
    width: 26px;
    /*height: 26px;*/
    /*display: inline-block;*/
    position: relative;
    margin-right: 30px;
}
.icon:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 26px;
    width: 26px;
    margin-top: -11px;
    background: url(../images/spriteicon.png) no-repeat center center;
}
.icon-quit:after{
    background-position: -13px -89px;
}
.icon-publish:after{
    background-position: -13px -48px;
}
.icon-index:after{
    background-position: -13px -8px;
}
.icon-merchant:after{
    background-position: -62px -48px;
}
.icon-account:after{
    background-position: -62px -89px;
}
.icon-setting:after{
    background-position: -62px -8px;
}
.icon-arrow:after{
    left: 42px;
    background-position: -125px -14px;
}
.hiretype-container .icon-arrow:after{
    left: 36px;
    background-position: -173px -54px;
}
.icon-man:after{
    background-position: -125px -90px;
}
.icon-women:after{
    background-position: -125px -49px;
}
.icon-picture:after{
    background-position: -123px -130px;
}
/*.icon-picture:hover:after{
    background-position: -168px -130px;
}*/

.icon-video:after{
    background-position: -124px -172px;
}
/*.icon-video:hover:after{
    background-position: -168px -172px;
}*/
.withdetail .icon-picture:after{
    background-position: -168px -130px;
}
.withdetail .icon-video:after{
    background-position: -168px -172px;
}

.icon-phone:after{
    background-position: -13px -189px;
}
.icon-location:after{
    background-position: -13px -219px;
}
.icon-job:after{
    background-position: -13px -158px;
}
.icon-lock:after{
    background-position: -62px -159px;
}
.charge .choosemark .icon-choose:after{
    width: 36px;
    height: 36px;
    background-position: -159px -7px;
}
