body {
	background-color: #f1f0f0;
}
.header {
	margin: 0 auto;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 1.8rem;
	background-color: #fff;
}
.header .logo {
	margin-top: 4px;
	width: 80px;
	height: 38px;
	display: inline-block;
}
.header .logo img {
	width: 100%;
	height: 100%;
}
.header a.menu-wrap {
	float: left;
	padding: 11px;
}
.header a i.menu {
	display: block;
	width: 20px;
	height: 21px;
}
.header a.login-wrap {
	float: right;
	padding: 11px;
}
.header a i.login {
	display: block;
	width: 20px;
	height: 21px;
}
.header a img {
	width: 100%;
	height: 100%;
	display: block;
}
/* 快速栏目 导航 */
/* 菜单 侧拉 */
body.menu-panel {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}
body.panel-active {
	-webkit-transform: translate3d(75%, 0, 0);
	transform: translate3d(75%, 0, 0);
	overflow-x: hidden;
}
.nav {
	padding: 15px 0;
	background-color: #fff;
}
.nav .entry-link {
	float: left;
	width: 25%;
	font-size: 1.4rem;
	color: #333;
	text-align: center;
	display: block;
}
.nav .entry-link img {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto 6px;
}
/* 轮播图 */
#slider img {
	width: 100%;
	vertical-align: top;
	display: block;
}
#rounddot {
	position: relative;
	display: table;
	margin: -18px auto 0;
}
#rounddot a {
	cursor: pointer;
	width: 4px;
	height: 4px;
	background-color: transparent;
	margin: 0px 5px;
	border: 1px solid #fff;
	display: inline-block;
	border-radius: 50%;
}
#rounddot a.active {
	background-color: #ff7a29;
	border: 1px solid #fff;
	margin: 0 5px;
}
/* 内容 */
.entry-title {
	margin-top: 12px;
	background-color: #fff;
}
.entry-title .home-recommended {
	height: 24px;
	line-height: 24px;
	color: #aeaeae;
	border-bottom: solid 1px #50d2c2;
}
.entry-title .home-recommended i {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	margin: 0 8px;
}
.entry-title .title {
	height: 27px;
	line-height: 27px;
	text-align: center;
	font-size: 1.6rem;
	color: #000;
}
.entry-title .title .line{
	width: 95%;
	height: 16px;
	position: relative;
	top: -25px;
	left: 0;
}
.land-con {
	padding: 10px;
	overflow: hidden;
}
/*.land-con ul {
	overflow: hidden;
}*/
.land-con ul li {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
	float: left;
	width: 50%;
	margin-bottom: 8px;
}
.land-con ul li:nth-child(odd) {
	padding-right: 4px;
}
.land-con ul li:nth-child(even) {
	padding-left: 4px;
}
.land-con .land-wrap {
	position: relative;
	background-color: #FFF;
	-webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .2);
}
.land-con .land-wrap .lable-icon {
	position: absolute;
	top: -2px;
	right: 10px;
	width: 17px;
}
.land-con .land-wrap .layer{
	background-color: #fff;
	opacity: 0.6;
}
.land-con .land-wrap a {
	display: block;
}
.land-con .land-wrap .land-img img {
	width: 100%;
	display: block;
}
.land-con .land-wrap .land-title, .land-number, .land-region, .area-price, .date {
	padding-left: 4px;
	height: 24px;
	line-height: 24px;
}
.land-con .land-wrap .land-title {
	position: relative;
	padding-left: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.3rem;
	color: #000;
}
.land-con .flagship .land-wrap .land-title{padding-left:4px;} 
.land-con .land-wrap .land-number {
	color: #5c5c5c;
}
.land-con .land-wrap .land-number i {
	padding: 0 2px;
	border: solid 1px #eb4f38;
	border-radius: 3px;
}
.land-con .land-wrap .land-region {
	margin-left: 4px;
	padding-left: 12px;
	background: url(../images/coordinates-icon1.png) no-repeat left center;
	color: #0e76d5;
}
.land-con .more {
	margin-top: 5px;
	height: 34px;
	border: solid 1px #dcdcdc;
	border-radius: 3px;
	background: #fff;
}
.land-con .more a {
	display: block;
	line-height: 34px;
	text-align: center;
	color: #8f8f8f;
	-webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .2);
}
.land-con .land-wrap .land-title i {
	position: absolute;
	top: 5px;
	left: 4px;
	margin-right: 4px;
	display: inline-block;
	width: 14px;
	height: 14px;
}
.land-con .land-wrap .land-title i img {
	width: 100%;
	height: 100%;
	display: block;
}
.land-con .land-wrap .area-price {
	padding-right: 4px;
	color: #eb4f38;
	text-align: right;
}
.land-con .land-wrap .area-price span.area {
	float: left;
	margin-top: 3px;
	padding: 0 3px;
	border: solid 1px #eb4f38;
	border-radius: 3px;
	color: #5c5c5c;
	display: inline-block;
	height: 16px;
	line-height: 16px;
}
.land-con .land-wrap .area-price span.xq-years {
	margin-top: 3px;
	margin-left: 10px;
	padding: 0 3px;
	border: solid 1px #ba0284;
	border-radius: 3px;
	color: #5c5c5c;
	display: inline-block;
	height: 16px;
	line-height: 16px;
}
.land-con .land-wrap .area-price span.fl-no {
	float: none;
}
.land-con .land-wrap .date {
	margin-left: 4px;
	padding-left: 12px;
	background: url(../images/date-icon.png) no-repeat left center;
	color: #949494;
}
.land-list ul>li {
	width: 100%;
	float: none;
}
.land-list ul>li:nth-child(odd) {
	padding-right: 0;
}
.land-list ul>li:nth-child(even) {
	padding-left: 0;
}
.land-list ul>li .area-price {
	width: 85%;
}
.land-list ul>li .land-wrap p.area-price {
	text-align: left;
}
.land-list ul>li .land-wrap p.area-price span.years {
	float: right;
	padding: 0 2px;
	border: solid 1px #ff7a29;
	border-radius: 3px;
	color: #ff7a29;
	display: block;
	height: 16px;
	line-height: 16px;
}
.land-list ul>li .land-wrap p.area-price span.my {
	float: right;
	color: #ff7a29;
	display: block;
	height: 16px;
	line-height: 16px;
}
/* foot */
.foot {
	margin-top: 10px;
	padding: 0 10px 40px;
	background-color: #fff;
	border-top: solid 2px #0fdebd;
	overflow: hidden;
	color: #949494;
}
.foot .btn {
	display: inline-block;
	width: 48%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 1.8rem;
	color: #94d28d;
	border: solid 1px #94d28d;
	border-radius: 30px;
}
.foot .active {
	background-color: #94d28d;
	color: #fff;
}
.foot .foot-links {
	width: 95%;
	margin: 20px 0;
	overflow: hidden;
}
.foot .foot-links li {
	float: left;
	width: 33.333%;
	text-align: center;
}
.foot .foot-links li a {
	display: block;
	color: #47b0ed;
}
.foot .phone {
	margin-top: 20px;
	text-align: center;
	font-size: 1.4rem;
}
.foot .phone-btn{
	position: relative;
	display:block;
	margin: 10px 0 30px;
	padding-left: 20px;
	height: 44px;
	line-height: 44px;
	border-radius: 3px;
	font-size: 1.8rem;
	color: #fff;
	text-align: center;
	background-color: #fb5757;
}
.foot .phone-btn .phone-icon{
	position: absolute;
	top: 14%;
	left: 26%;
	display: block;
	width: 23px;
	height: 22px;
}
.foot .phone-btn .phone-icon img{
	width: 100%;
	height: 100%;
}
.foot .copyright {
	width: 95%;
	margin: 10px auto;
	line-height: 20px;
	text-align: right;
}
.foot .copyright img {
	float: left;
	width: 72px;
	height: 20px;
}
.foot .icp {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}
/* 菜单 侧拉 */
/*body.menu-panel {
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}*/
body.panel-active {
	-webkit-transform: translate3d(75%, 0, 0);
	transform: translate3d(75%, 0, 0);
	overflow-x: hidden;
}
.side {
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: 0;
	width: 75%;
	display: none;
	opacity: 0;
	/*background-color: #b5c9ca;*/
	background: url(../images/sidebar-bg_02.jpg) no-repeat fixed top center;
	z-index: 980;
	background-size: 100% auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-moz-transition: opacity 0 ease 0.35s;
	-webkit-transition: opacity 0 ease;
	-webkit-transition-delay: 0.35s;
	transition: opacity 0 ease 0.35s;
}
.side .icon-uimini {
	display: block;
	line-height: 45px;
	font-size: 1.8rem;
	color: #fff;
	text-align: center;
	background: url(../images/menu-title-bg.png) repeat;
}
.side .main-nav li {
	margin-bottom: 2px;
	position: relative;
	width: 90%;
}
.side .main-nav li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: left;
	font-size: 1.5rem;
	color: #fff;
	background: url(../images/menu-bg.png) repeat;
}
.side .main-nav li a i {
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	display: inline-block;
}
.side .main-nav li a i img {
	width: 100%;
	height: 100%;
}
.side .main-nav li ul.submenu {
	display: none;
	margin-top: 2px;
}
.side .main-nav li ul.submenu li a {
	margin-left: 50px;
	padding-left: 10px;
}
.side .main-nav .submenu-indicator {
	background: url(../images/submenu-indicator2.png) no-repeat;
	width: 10px;
	height: 6px;
	-o-transition: transform .3s linear;
	-moz-transition: transform .3s linear;
	-webkit-transition: transform .3s linear;
	-ms-transition: transform .3s linear
}
.side .main-nav ul li ul.submenu .submenu-indicator {
	line-height: 16px
}
.side .main-nav .submenu-indicator-minus>.submenu-indicator {
	-ms-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg)
	/*-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)*/
}
.side ul.main-nav li em {
	float: right;
	top: 20px;
	right: 10px;
	position: absolute;
	font-size: 2.0rem;
	display: block;
	width: 6px;
	height: 10px;
	background: url(../images/submenu-indicator.png) no-repeat;
}
.side .propaganda-btn {
	position: absolute;
	left: 8.333%;
	bottom: 10.526%;
	overflow: hidden;
	width: 85%;
}
.side .propaganda-btn .btn{
	width: 47.039%;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 1.5rem;
	color: #fff;
	display: block;
	border: solid 1px #97949f;
	border-radius: 20px;
	background-color: #4c6088;
	opacity: 0.5;
}
.side .propaganda-btn .btn-color{
	background-color: #2b4749;
	opacity: 0.5;
}



body.sideBox-open .side {
	opacity: 1;
	display: block;
}
.sideBox-open .containBox{
  overflow: hidden;
  -moz-transition: -moz-transform 0.4s ease 0.15s;
  -webkit-transition: -webkit-transform 0.4s ease;
  -webkit-transition-delay: 0.15s;
  transition: transform 0.4s ease 0.15s;
  -moz-transform: translate3d(75%,0,0);
  -webkit-transform: translate3d(75%,0,0);
  transform: translate3d(75%,0,0);
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;    
-ms-backface-visibility:hidden; 
 }
.containBox{
left: 0; height: 100%; position: relative;z-index:1000; top:0px; background-color: #f1f0f0;}
.containBox_bg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1003;
	background: #000;
	opacity: 0.2;
}

body.sideBox-open {
	overflow: hidden;
}


